
  body {
    background-color: #fff ;
    font-family: sans-serif;
    margin: 0 100px 0;
  }

  hr {
    background-color: #fff;
    border-style: dotted none none;
    border-width: 3px;
    width: 5%;
  }


  h1{
    margin-top:0;
    margin-bottom: 0;
    /* font-size: 1.5rem; */

  }



.header {
    background-color: #f5ba13;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }


.sidePanel{
  background-color: #D8DCDB;
  margin:20px;
  padding: 10px 20px;
  width: 150px;
  text-align: right;

}

.bodyArea{
  padding: 10px 20px;
  margin-right: 10%;



}

.position{
  margin: 0 0 0 0;
}

  .center{
    margin: 0 auto 0 auto;
  }

  .contact{
    font-size: 100%;
  }
