.col-left {
    background-color: #EA526F;
    width: 500px;
    padding: 20px;
    box-shadow: 10px 10px 20px rgb(153, 153, 153);
    border-radius: 5px;

}

.col-right {
    background-color: lightgrey;
    padding: 20px 20px 0px 20px;
    margin: 0px 0px 0px 20px;
    /* justify-content: space-around; */
    box-shadow: 10px 10px 20px rgb(153, 153, 153);
    border-radius: 5px;
    
}

.banner {
    /* background-image: linear-gradient(to bottom right, #FF8A5B, rgb(75, 71, 73)); */
    /* background-color: #cb8589; */
    /* background-image: linear-gradient(135deg, rgba(203, 133, 137, 0.55) 0%, rgba(203,133,130,0.95) 50%), url('/image/DotPattern.jpg'); */
    /* background:  url('image/DotPattern.jpg'); */
    height: 150px;
    margin: 0px auto;
    
    align-content: center;
    /* margin: 0px 20px 0px 20px; */
    position: fixed;
    width: 100%;
    max-width: inherit;
    top: 0;
    box-shadow: 5px 5px 10px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    
 }


 /* .header-align {
    flex-grow:1;

 } */

 .banner img{

    margin: 20px 80px;

 }


 .card-container{
    display: flex;
    margin: 20px 100px ;
    padding: 150px 0px;
    justify-content: space-between;
    clear:both;
 }

