.col-left {
    background-color: #EA526F;
    width: 300px;
    padding: 20px;
    box-shadow: 10px 10px 20px rgb(153, 153, 153);
    border-radius: 5px;
  
}

.col-right {
    background-color: lightgrey;
    padding: 20px 20px 0px 20px;
    margin: 0px 0px 0px 20px;
    /* justify-content: space-around; */
    box-shadow: 10px 10px 20px rgb(153, 153, 153);
    border-radius: 5px;
}

.card-container{
   display: flex;
   margin: 170px 150px ;
   padding: 1px 0px;
   justify-content: space-between;
   clear:both;
}

/* .whole-container{
   width: 800px;
} */

.banner {
   /* background-image: linear-gradient(to bottom right, #FF8A5B, rgb(75, 71, 73)); */
   /* background-color: #cb8589; */
   /* background-image: linear-gradient(135deg, rgba(203, 133, 137, 0.55) 0%, rgba(203,133,130,0.95) 50%), url('/image/DotPattern.jpg'); */
   /* background:  url('image/DotPattern.jpg'); */
   height: 150px;
   width: 100%;
   /* margin: 0px 0px 0px 100px; */
   position: fixed;
   top: 0;
   box-shadow: 5px 5px 10px;
   border-radius: 5px;
   align-items: left;
   display: flex;
}


.header-align {
   margin: 0px 0px;
}

.banner img{
   margin: 20px 40px 0px 200px;
}